{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h5>Последние обновления сайта:</h5>
        <p>9.03.2023 - Синхронизированы базы индуктивных датчиков</p>
        <p>7.03.2023 - Добавлена база индуктивных датчиков компании СКБ Индукция!</p>
        <p>27.02.2023 - Добавлена база индуктивных датчиков компании ТЕКО!</p>
        <p>26.02.2023 - Сайт начал работу!</p>
        <br>
        <h5>Справочная информация:</h5>


        <p>Полную расшифровку обозначения индуктивных датчиков TEKO можно посмотреть <a href="https://teko-com.ru/useful-info/sistemy-oboznachenija/sistema-induktivnyh-datchikov.html", target="_blank">здесь.</a></p>
        <p>Полную расшифровку обозначения оптичнских датчиков TEKO можно посмотреть <a href="https://teko-com.ru/netcat_files/File/sis_opt.pdf", target="_blank">здесь.</a></p>
        <p>Полную расшифровку обозначения ёмкостных датчиков TEKO можно посмотреть <a href="https://teko-com.ru/useful-info/sistemy-oboznachenija/oboznachenija-emkostnyh.html", target="_blank">здесь.</a></p>

    </div>
    <div class="features">
        <h1>Контакты</h1>
        <p>e-mail</p>5
        <p>Telegram</p
    </div>

{% endblock %}
