{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h2>Добро пожаловать на сайт поиска бесконтактных датчиков!</h2>
        <h5>Наш сайт поможет вам быстро и легко найти подходящий датчик. Наша база данных содержит тысячи датчиков разных типов и производителей. Вы можете искать датчики по различным параметрам, таким как тип датчика, тип выходного сигнала, номинальное расстояние и многое другое. Также вы можете сравнивать датчики и выбрать наиболее подходящий.</h5>
        <h5>На сайте представлены производители доступные для заказа в России:</h5>
    </div>
    <div class="manufacturer-container">
        <div class="manufacturer">
            <a href='https://teko-com.ru/', target="_blank"><img src='/static/main/img/ind_TEKO/TEKO.jpeg' alt="TEKO" width="150">
            {% comment %} <p>НПК "ТЕКО"</p> {% endcomment %}
            </a>
            <p>3114 датчиков</p>
        </div>

        <div class="manufacturer">
            <a href='https://skbind.ru/', target="_blank"><img src='/static/main/img/ind_SKB/SKBIND.png' alt="СКБ Индукция" width="150">
            {% comment %} <p>СКБ Индукция</p> {% endcomment %}
            </a>
            <p>3360 датчиков</p>
        </div>
        <div class="manufacturer">
            <a href='https://www.lanbaosensor.com/', target="_blank"><img src='/static/main/img/Lanbao.png' alt="Lanbao" width="200">
            {% comment %} <p>Lanbao</p> {% endcomment %}
            </a>
            <p>790 датчиков</p>
        </div>
    </div>
    <div class="features">
        <h5>Спасибо, что посетили наш сайт. Мы надеемся, что наша база данных поможет вам найти идеальный датчик для вашей задачи.</h5>
        <h5>Для перехода к подбору датчиков нажмите на соотвествующий раздел в меню сайта. </h5>
    </div>





{% endblock %}
