        {% comment %} <progress>Загрузка</progress> {% endcomment %}
        <details>
            <summary>Подробнее</summary>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem maiores facere, ex nostrum explicabo iure. Tempore maiores aliquam voluptatum error dolore reiciendis iusto? Quia sapiente vero tenetur quam velit molestias.
        </details>
<form action="post">
    <label for="user_name">Введите имя</label>
    <input type="text", placeholder="Введите что-то", value="что-то", maxlength="5", name="user_name", id="user_name">
    <!-- hidden - скрытый, disabled -неактивный, readonly, required -->
    <br>
    <input type="password">
    <br>
    <input type="email">
    <br>
    <input type="url">
    <br>
    <input type="color">
    <br>
    <input type="date">
    <br>
    <input type="datetime">
    <br>
    <input type="time">
    <br>
    <input type="checkbox">
    <br>
    <input type="radio">
    <input type="radio">
    <br>
    <input type="radio", name="state">
    <input type="radio", name="state">
    <br>
    <input type="file">
    <br>
    <input type="button", value="knopka 1">
    <br>
    <input type="submit", value="knopka 2">
    <br>
    <input type="reset", value="knopka 3">
    <!-- Очистить все формы -->
    <br>
    <textarea name="" id="" cols="30" rows="10">Просто текст</textarea>
    <br>
    <button type="reset">Reset</button>
    <br>
    <select name="" id="">
        <Option disabled selected>--------</Option>
        <Option>BMW</Option>
        <Option>Audi</Option>
        <Option>mercedes</Option>
    </select>
    <select name="" id="" multiple size="5">
        <Option disabled selected>--------</Option>
        <Option>BMW</Option>
        <Option>Audi</Option>
        <Option>mercedes</Option>
    </select>




</form>
